
header {
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    text-align: center;
    opacity: 1;
}

header li {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
    text-align: center; 
    padding-right: 15px;
    padding-left: 50px;
    border-left: groove;
    border-color: snow;
    border-width: 1px;
    display: inline-block;
}

header li a{
    display: block;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header li a:hover {
    color: indianred;
    text-decoration: none;
}

.home{
    background-image: url('./images/home.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    background-size: 35px;    
    opacity: 0.95;
}

.play {
    background-image: url('./images/play.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 16px;
    background-size: 34px;
    padding-right: 20px;
    padding-left: 60px;
    opacity: 0.95;
}

.login {
    padding-left: 20px;
    float: right;
}

.competition {
    background-image: url('./images/about.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -2px;
    background-size: 60px;
    border-right: groove;
    border-color: snow;
    border-width: 1px;
    opacity: 0.95;
}

Main {
    margin-top: 50px;
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 30px;
    padding-bottom:30px;
    background-color: rgba(233, 218, 129, 0.1);
    opacity: 1;
    height: 100%;
}

.bgimg {
    background-image: url('./images/backgroundrink.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
    z-index: -1;
}

.signout {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color: #f9f9f9;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1.5px outset #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 8px;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    opacity: 0.95;
}
.signout:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}

.logintext {
    text-decoration: none;
    color: black;
}

.logintext:hover {
    text-decoration: none;
    color: black;
}        