
header {
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    text-align: center;
    opacity: 1;
}

header li {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
    text-align: center; 
    padding-right: 15px;
    padding-left: 50px;
    border-left: groove;
    border-color: snow;
    border-width: 1px;
    display: inline-block;
}

header li a{
    display: block;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header li a:hover {
    color: indianred;
    text-decoration: none;
}

.home{
    background-image: url('./images/home.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    background-size: 35px;    
    opacity: 0.95;
}

.play {
    background-image: url('./images/play.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 16px;
    background-size: 34px;
    padding-right: 20px;
    padding-left: 60px;
    opacity: 0.95;
}

.competition {
    background-image: url('./images/about.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -2px;
    background-size: 60px;
    border-right: groove;
    border-color: snow;
    border-width: 1px;
    opacity: 0.95;
}

Main {
    margin-top: 50px;
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 30px;
    padding-bottom:30px;
    background-color: rgba(233, 218, 129, 0.1);
    opacity: 1;
    height: 100%;
}

.bgimg {
    background-image: url('./images/backgroundrink.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
    z-index: -1;
}