.imagesDisplay {   
    height: 100%;
    width: 35%;
    z-index: 1;
    overflow-x: scroll;
    background-color: rgba(233, 218, 129, 0.1);
    padding-top: 5px;
    position:fixed;
    right:0;
    top: 38px;
    margin-top:5px;
}

.AddPlayers {
    height: 100%;
    width: 65%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 38px;
    padding-bottom: 30px;
    padding-right: 50px;
    background-color: rgba(233, 218, 129, 0.1);
}

.headerControls {
    margin-left: 85px;
    margin-top: 25px;
    margin-bottom: -15px;
}

.salaryControls {
    position: absolute;
    right: 0;
    margin-top: -30px;
    font-weight: bold;
}

.tables {
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    overflow-y: scroll;
    position: fixed;
    height: 90%;
    width: 65%;
    margin: 5px;
    margin-top: 20px;
    border-top: ridge;
    border-right: ridge;
    border-left: ridge;
    border-bottom: ridge;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
}

.tbackground {
    background-color: rgba(248, 232, 176, 0.20);
    border-style: ridge;
    border-color:  darkgray;
}

.thead {
    padding: 10px;
    background-color: rgba(248, 232, 176, 0.20);
    border-style: ridge;
    border-color: darkgray;    
}

.rinkImage {
    position: absolute;
    height: 610px;
    width: 330px;
    opacity: 0.8;
    border-radius: 20%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.leftG {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: 240px;
    transform: translate(-50%,-50%);
    text-align: center;    
    opacity: 0.95;
}

.leftD {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 155px;
    margin-left: -80px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.leftL {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 65px;
    margin-left: -110px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.leftC {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 45px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.leftR {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 65px;
    margin-left: 110px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.rightL {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -110px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.rightC {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}


.rightR {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: 110px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}

.rightD {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 155px;
    margin-left: 80px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}

.rightG {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    border: solid;
    border-color: ThreeDDarkShadow;
    border-width: 1.5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 240px;
    margin-left: 40px;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.95;
}

.addPlayer {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.addPlayer:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color: #6c7c7c;
}

.remove {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.remove:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color: #6c7c7c;
}

.modalStyles {
    position: absolute;
    border-radius: 7%;
    border-style: double;
    border-width: 1px;
    border-color: goldenrod;
    height: 70px;
    width: 200px;
    padding: 5px;
    background: #faf7da; /* Old browsers */
    background: -moz-linear-gradient(top, #faf7da 4%, #dbcf83 52%, #eeefb8 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #faf7da 4%,#dbcf83 52%,#eeefb8 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #faf7da 4%,#dbcf83 52%,#eeefb8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf7da', endColorstr='#eeefb8',GradientType=0 );
    opacity: 0.7;
}

.modalButton {
    margin-left: 65px;
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.modalButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color: #6c7c7c;
}

.modaltext {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

::-webkit-scrollbar {
    width: 9px; 
    height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: aliceblue;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}